@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home bannner">
    <h1 class="display-4">Lewis Hawkins</h1>


    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>First Column</p>
            </div>
            <div class="col-6">
                <p>Second Column</p>

            </div>
        </div>
    </div>

</div>
